{% extends 'boilerplate/base.html' %}
{% load static %}

{% block content %}

  <div class="w-50 p-3" style="background-color: #eee;">

    <div class="w-75 p-3" style="background-color: #eee;">  
    
      <!-- <img src="" height="" width="50%" class="card-img-top" alt="..."> -->
    
      <!-- loading image -->
      {% for q in question %}  
      <img src="{{q.photo.url}}" alt="question photo" height="" width="50%" class="card-img-top">
      
      {% endfor %}
        <form  method="post" action="">
          {% csrf_token %}
          
          {% for q in question %}
        <p> {{ q.title }} </p>
          
          
          <input type="hidden" name="question" value="{{ question.id }}">
          {% endfor %}
          <div class="form-group">
        <textarea type="text" class="form-control" name = "answer">  </textarea>    </div>
      <button type="submit" class="btn btn-primary mb-2">Submit</button>
    </form>

  </div>
</div>  
    
{% endblock %}



