<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Exam question </title>
</head>
<body>
<!--How do you enter a paragraph for a form in html?-->
    <p> This is the exam question </p>
    <img src="https://www.w3schools.com/images/w3schools_green.jpg" alt="W3Schools.com">
    <form action="/action_page.php">
      <label for="fname">First name:</label><br>
      <input type="text" id="fname" name="fname" value="John"><br>
      <input type="submit" value="Submit">
    </form>

</body>
</html>