{% extends 'boilerplate/base.html' %}

{% block content %}
{% load static %}

  <div class="w-50 p-3" style="background-color: #eee;">

    <div class="w-75 p-3" style="background-color: #eee;">  
    
      <!-- <img src="" height="" width="50%" class="card-img-top" alt="..."> -->
    <!-- loading image -->
      {% for image in q %}  
        <img alt="Question" src="{{ image.image.url }}">
      
      {% endfor %}
        <form  method="post" action="">
          {% csrf_token %}
          
          {% for question in q %}
        <p> {{ question.title }} </p>
          
          
          <input type="hidden" name="question" value="{{ question.id }}">
          {% endfor %}
          <div class="form-group">
        <textarea type="text" class="form-control" name = "answer">  </textarea>    </div>
      <button type="submit" class="btn btn-primary mb-2">Submit</button>
    </form>

  </div>
</div>  
    
{% endblock %}



